


:root {
  --line: clamp(34px, 7vw, 42px);
}
  body {
  background-color: #fff0ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(10px, 4vw, 20px);
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: clamp(2.4em, 6vw, 4em);
  line-height: clamp(1.1, 2vw, 1.2);
  color: #1c1212;
  margin-top: clamp(10px, 3vw, 20px);
  margin-bottom: 0;
  font-family: 'Square Peg', cursive;
}

  @media (max-width: 500px) {
  h1 {
    font-size: 2.4em;
  }
}

  .description {
    font-size: clamp(0.8em, 1.8vw,0.9em);
    color: #1c1212;
    margin-bottom: 5px;
    font-family: 'Caveat', cursive;
    text-align: center;
    margin-top: clamp(2px, 2vw, 4px);
    margin-bottom: clamp(2px, 2vw, 4px);
    transform: translateY(50%);
  }

  #runs {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #faf6f0;
    background-image: repeating-linear-gradient(
        transparent,
        transparent calc(var(--line) - 1px),
        #e8d5c4 1px,
        #e8d5c4 var(--line)
    );
    border-radius: 5px;
    padding: clamp(25px, 7vw, 40px) clamp(20px, 8vw, 50px);
    margin: clamp(15px, 12vw, 20px) auto;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    position: relative;
}



  #runs::before {
    content: '';
    position: absolute;
    left: calc(var(--line) * 0.8); 
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #e8a5a5;
}

  @media (max-width: 500px) {
   #runs::before {
     left: calc(var(--line) * 0.65);
  }
}

.stravalogo{
    align-self: center;
}
 

  .run {
  display: flex;
  flex-direction: column;
  height: calc(var(--line) * 2);
  justify-content: center;
}

  .run-title {
  line-height: var(--line);
  transform: translateY(6%);
  font-size: clamp(1.6em, 1vw, 2.2em);
  margin-top: clamp(0.9em, 1vw, 2.0em);
  margin-bottom: 0px;
  font-family: 'Square Peg', cursive;
  padding-bottom: 0px; 
  padding-top: 50px;
}
  
  .run-details {
    line-height: var(--line);
    transform: translateY(-7%);
    font-size: clamp(0.9rem, 1.7vw, 1.1rem);
    font-family: 'Caveat', cursive;
    margin-top: 0px;    
    padding-bottom: 50px; 
}

  @media (max-width: 500px) {
  #runs {
    transform: scale();      
    transform-origin: top left;  
  }
}



   .stravalogo {
                  width: clamp(200px, 15vw, 350px); /* scale the pic */    
                
                  object-fit: cover;
                  object-position: center;
                  overflow: hidden;
                  margin-bottom: 0px;
                  transition: transform 0.3s ease;
                  box-shadow: none;
                  transform: scale(0.4);
            }


     a:link {
      color: #572a2a; 
        }

    a:visited {
      color: #572a2a; 
        }

        
   /* .postit {
        width: clamp(100px, 5vw, 110px);
        min-height: clamp(35px, 5vw, 55px);
        background: linear-gradient(145deg, #fffab6 0%, #fbf3b0 100%);
        padding: 8px;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
        transform: rotate(5deg);
        font-family: 'Caveat', cursive, sans-serif;
        position: absolute;    
        top: 50px;
        right: 30px;
        cursor: grab;
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 10;
        font-size: 0.7em;
    }
    
    .postit h1 {
        font-size: 1.4em;
        margin: 0 0 3px 0;
    }
    
    .postit p {
        font-size: 0.85em;
        margin: 0;
        line-height: 1.2;
    }
    
    @media (max-width: 768px) {
        .postit {
            top: 10px;
            right: 10px;
            width: 90px;
            font-size: 0.65em;
        }
    }
        */


